@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background-start: #000000;
  --background-end: #2c3e50;
}

body {
  color: var(--foreground);
  background-color: #000000;
  background-image: linear-gradient(
    147deg,
    #000000 0%,
    var(--background-end) 74%
  );
}
